.example-card1 {
    margin-top: 8px;
    display: flex;
    padding: 16px;
    
}

.example-card {
    height: 60px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 16px;
  }
  
  .card-content {
    display: flex;
    align-items: left;
  }
  
  button {
    margin-left: auto; /* Push the button to the right side */
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  /* td, th {
    width: 10%;
  } */

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  button {
    margin-left: auto; /* Push the button to the right side */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.main-content-overlay {
  top: 56px;
   /* left: 260px;
  width: calc(100% - 260px);  */
}

.center-spinner {
    /* Add any additional styles for centering the spinner */
    width: 50px;
    height: 50px;
}