.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 800px;
  }
  
  .green-icon {
    color: green;
  }