<!-- Add this div to show the MatSpinner in the main content area -->
<div *ngIf="loading" class="overlay main-content-overlay" 
[style.width]="sideNavStatus ? 'calc(100% - 260px)' : 'calc(100% - 60px)'" 
[style.left]="sideNavStatus ? '260px' : '60px'">
    <mat-spinner class="center-spinner"></mat-spinner>
</div>

<mat-card class="example-card border">
    <div class="card-content">
        <h2>Manage Order</h2>
        <!-- <button mat-raised-button color="primary" [disabled]="isButtonDisabled" (click)="downloadBill()">
            <mat-icon>print</mat-icon>
            Submit and Get Bill </button> -->
    </div>
</mat-card>

<!-- ----------------------------------- Customer Detail Section --------------------------------------------------------- -->

<mat-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel>Customer Details</ng-template>
        <mat-card class="example-card1 border">
            <mat-card-header>
                <h2>Customer Details</h2>
            </mat-card-header>

            <mat-card-content>
                <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                    <div class="example-form-fields">
                        <mat-form-field style="width: 350px;">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="customer.name" name="name" id="name" placeholder="Amir"
                                required>
                        </mat-form-field>

                        <mat-form-field style="width: 350px;">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="customer.email" name="email" id="email" placeholder="Email">
                        </mat-form-field>

                        <mat-form-field style="width: 350px;">
                            <mat-label>Contact No.</mat-label>
                            <input matInput [(ngModel)]="customer.contact" name="contact" id="contact"
                                placeholder="9876543210" required>
                        </mat-form-field>

                        <mat-form-field style="width: 300px;">
                            <mat-label>Payment Type</mat-label>
                            <mat-select [(ngModel)]="customer.payment" name="payment" id="payment"
                                (ngModelChange)="onquantitySelected($event)" [(value)]="customer.payment" required>
                                <mat-option value="Card">Card</mat-option>
                                <mat-option value="Cash">Cash</mat-option>
                                <mat-option value="UPI">UPI</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-card-actions class="custom-card-actions">

                        <button mat-raised-button color="primary" type="submit" [disabled]="!categoryForm.valid">
                            Add Customer <mat-icon> person_pin</mat-icon></button>
                        
                        <button mat-raised-button style="background-color: green; color: white;"
                        [disabled]="isButtonDisabled" matStepperNext>Next
                            <mat-icon>keyboard_arrow_right</mat-icon> </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card1 border" *ngIf="!isButtonDisabled">
            <mat-card-content>
                <div class="mat-elevation-z8">
                    <table class="mat-elevation-z8">
                        <thead>
                          <tr>
                            <th class="table-header heading"> Name </th>
                            <th class="table-header heading"> Email </th>
                            <th class="table-header heading"> Contact </th>
                            <th class="table-header heading"> Payment </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="table-header">{{ customer.name }}</td>
                            <td class="table-header">{{ customer.email }}</td>
                            <td class="table-header">{{ customer.contact }}</td>
                            <td class="table-header">{{ customer.payment }}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
            </mat-card-content>

        </mat-card>
    </mat-step>

    <mat-step [completed]="!isButtonDisabled">
        <ng-template matStepLabel>Select Product</ng-template>
        <mat-card class="example-card1 border">
            <mat-card-header>
                <h2>Select Product</h2>
            </mat-card-header>

            <mat-card-content>
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Category</mat-label>
                    <mat-select [(ngModel)]="selectedCategoryId" name="category"
                        (ngModelChange)="onOptionSelected($event)">
                        <mat-option [value]="c.categoryId" *ngFor="let c of categories">
                            {{ c.categoryName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <form>
                    <div class="example-form-fields">
                        <mat-form-field style="width: 350px;">
                            <mat-label>Select Item</mat-label>
                            <mat-select [(ngModel)]="selectedItemName" name="item"
                                (ngModelChange)="onItemSelected($event)">
                                <mat-option [value]="item.title" *ngFor="let item of items">
                                    {{ item.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="width: 350px;">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="price" name="price" [(ngModel)]="itemPrice">
                        </mat-form-field>

                        <mat-form-field style="width: 350px;">
                            <mat-label>Quantity</mat-label>
                            <mat-select [(ngModel)]="quantity" name="quantity"
                                (ngModelChange)="onquantitySelected($event)" [(value)]="quantity">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="width: 300px;">
                            <mat-label>Total</mat-label>
                            <input matInput placeholder="Total" name="total" [(ngModel)]="itemTotalPrice">
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions class="custom-card-actions">
                <button mat-raised-button style="background-color: green; color: white;" matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                <button mat-raised-button color="primary" (click)="addItemToOrder()"> <mat-icon>plus_one</mat-icon> Add
                    Item</button>
                <button mat-raised-button color="primary" style="width: 300px;"> Total Cost = {{totalPrice}}
                    Rupees</button>
                <button mat-raised-button style="background-color: green; color: white;" matStepperNext
                [disabled]="isButtonDisabled2">Next
                    <mat-icon>keyboard_arrow_right</mat-icon> </button>
            </mat-card-actions>

        </mat-card>

        <!-- ----------------------------------- Total Items Section --------------------------------------------------------- -->

        <mat-card class="example-card1 border" *ngIf="!isButtonDisabled2">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                    </ng-container>

                    <!-- Total Column -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                        <td mat-cell *matCellDef="let row"> {{row.itemTotalPrice}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let row">
                            <div class="example-button-container">
                                <button mat-icon-button color="warn" (click)="deleteOrder(row.name)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>

        </mat-card>
        <form>

        </form>
    </mat-step>

    <mat-step>

        <ng-template matStepLabel> Submit and Get Bill </ng-template>

        <!-- Customer Detail -->
        <mat-card class="example-card1 border" *ngIf="!isButtonDisabled">
            <mat-card-content>
                <div class="mat-elevation-z8">
                    <table class="mat-elevation-z8">
                        <thead>
                          <tr>
                            <th class="table-header heading"> Name </th>
                            <th class="table-header heading"> Email </th>
                            <th class="table-header heading"> Contact </th>
                            <th class="table-header heading"> Payment </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="table-header">{{ customer.name }}</td>
                            <td class="table-header">{{ customer.email }}</td>
                            <td class="table-header">{{ customer.contact }}</td>
                            <td class="table-header">{{ customer.payment }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <mat-divider></mat-divider>
                <div class="mat-elevation-z8" style="margin-top: 10px;">
                    <table class="mat-elevation-z8">
                        <thead>
                          <tr>
                            <th class="table-header heading"> Name </th>
                            <th class="table-header heading"> Category </th>
                            <th class="table-header heading"> Price </th>
                            <th class="table-header heading"> Quantity </th>
                            <th class="table-header heading"> Total </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ord of order">
                            <td class="table-header">{{ ord.name }}</td>
                            <td class="table-header">{{ ord.category }}</td>
                            <td class="table-header">{{ ord.price }}</td>
                            <td class="table-header">{{ ord.quantity }}</td>
                            <td class="table-header">{{ ord.itemTotalPrice }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card1 border">

            <mat-card class="example-card4 border"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <mat-card-header>
                    <mat-card-title-group>
                        <button mat-button [disabled]="isButtonDisabled2">
                            <img mat-card-sm-image src="../../../assets/images/bill.jpg" style="margin-bottom: 10px;"
                            (click)="downloadBill()">
                        </button>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content style="text-align: center; margin-top: 25px;">
                    Submit and Get Bill
                </mat-card-content>
                <mat-card-footer>

                </mat-card-footer>
            </mat-card>

            <mat-card-actions class="custom-card-actions">
                <button mat-raised-button style="background-color: green; color: white;" matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                <button mat-raised-button color="primary" style="width: 300px;"> Total Cost = {{totalPrice}}
                    Rupees</button>
            </mat-card-actions>


        </mat-card>

    </mat-step>

</mat-stepper>